<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<!-- stylesheets -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="../assets/css/style.css">
	<!-- fonts -->
	<link href="https://fonts.googleapis.com/css?family=Poppins|Audiowide|Rock+Salt" rel="stylesheet">
</head>
<body>
	<nav class="navbar navbar-default" id="navigation">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" id="appLogo" href="/dashboard">Dev Leppard</a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	        <li class="navItems active"><a href="/dashboard">Dashboard<span class="sr-only">(current)</span></a></li>
	        <li class="dropdown navItems">
	            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Projects<span class="caret"></span></a>
	            <ul class="dropdown-menu">
	                <li><a href="/myprojects">New</a></li>
	                <li><a href="/viewProjects">Current</a></li>
	            </ul>
	        </li>
	        <li class="navItems"><a href="/contactclient">Contact Client</a></li>
	        <!-- <li class="navItems"><a href="/search">Client Search</a></li> -->
	      </ul>
	      
	      <ul class="nav navbar-nav navbar-right">
	        <form class="nav navbar-nav navbar-right" action="/signOut" method="get">
	        	<button>Sign Out</button>
	        </form>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
	
	<button type="button" class="btn btn-info" id="nextProject">Click For Next Project</button>
	 <div class="col-lg-10 col-lg-offset-1" id="chart_div"></div>
	 <div class="col-lg-10 col-lg-offset-1 container" id="chart_div2"></div>

	
<!-- scripts -->
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>	
<!-- <script type="text/javascript" src="/test.js"></script>	 -->	
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="../assets/js/script.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>			
</body>
</html>