#homeBody {
	background-color: white;
}

#homepageBtnA {
	width: 35%;
}

#homepageBtnB {
	width: 35%;
}

/*all pages*/

#navigation {
	background-color: white;
	margin-bottom: 0%;
	border-bottom: 2px solid #76CD98;
}

.navItems{
	font-family: Poppins;
	font-size: 18px;
}

body {
	background-color: #D1F0C9;
}

.btn.btn-primary {
	background-color: white;
	border: 1px solid grey;
	color: black;
}

.form {
	width: 40%;
	margin-left: 5%;
	margin-top: 3%;
}

h2 {
	font-family: Rock Salt;
	padding-bottom: 3%;
}

/*login page*/

#logo {
	margin-top: 100px;
	padding-top: 1%;
	padding-bottom: 1%;
	color: white;
	background-color: #D1F0C9;
	min-height: 100px;
	text-align: center;
}

#appLogo {
	font-family: Audiowide;
	font-size: 30px;
}

h1 {
	font-family: Audiowide;
	font-size: 70px;
}

#webProjectManagement {
	color: grey;
	font-family: Poppins;
	text-align: center;
	font-size: 25px;
	width: 60%;
	margin-left: 20%;
}

#loginBtns {
	width: 20%;
	margin-left: 40%;
}

.standardBtn {
	width: 25%;
	margin-left: 12.5%;
}

/*client homepage*/

.subHeader {
	text-align: center;
}

.iconImg {
	width: 55%;
	margin-left: 22.5%;
}

#contact {
	width: 35%;
	margin-left: 32.5%;
	margin-top: 9%;
}

#form {
	width: 30%;
	margin-left: 35%;
	margin-top: 11%;
}

#upload {
	width: 28%;
	margin-left: 36%;
	margin-top: 13%;
}

/*client "view project"*/

.samplePreview {
	width: 80%;
	margin-left: 10%;
	margin-top: 5%;
}

/*dashboard*/

#jumboMain {
	background-color: #D1F0C9;
}

#welcomeHome {
	font-size: 50px;
	width: 40%;
	margin-left: 30%;
	margin-top: 7%;
	text-align: center;
}
#chart_div2{
	margin-top: 25px;
}
/*form page*/
